// Widescreens: Extra large there will be 4 columns per row provided by grid-template-columns.
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops:there will be 3 columns per row provided by grid-template-columns
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;// Menu nav will take 75% of view height it remain 25% for branding(myImage)
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/Portrait_S.jpg');
      width: 150px;
      height: 150px;
      
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
     
    }

    .lg-heading {
      margin-top:1rem;
      margin-bottom: 8vh;
      font-size: 18vw; /* 4.2rem; */
      
    }
    .icons {
      margin-top: 20vh; //it's 25% of view heigth from top
    }
  
  }
    // Here for very small screen 1 fractional don't need to use repeat. 
  .projects {
    grid-template-columns: 1fr;
  }
}
